	<style type="text/css">
    .css-form input.ng-invalid.ng-dirty {
        background-color: #F8E0E6;
    }

    .css-form input.ng-valid.ng-dirty {
        background-color: #E0F8E0;
    }

    .sel-file img {
        float: left;
        width: 38px;
        height: 38px	;
        padding-right: 10px;
    }

     .estilo-cep{
    	width: 150px;
    }

    .estilo-codigo_area{
    	width: 40px;
    }

    .estilo-fones{
    	width: 100px;
    }

    .estilo-area-upload{
    	width: 100%;
    	background-color: #6E6E6E; 
    	color: #FFFFFF;

    }

    .estilo-botao-acao{
    	width: 75px;
    }

</style>

	


<script type="text/javascript">
FileAPI = {
    debug: true,
    //forceLoad: true, html5: false //to debug flash in HTML5 browsers
    //wrapInsideDiv: true, //experimental for fixing css issues
    //only one of jsPath or jsUrl.
    //jsPath: '/js/FileAPI.min.js/folder/', 
    //jsUrl: 'yourcdn.com/js/FileAPI.min.js',

    //only one of staticPath or flashUrl.
    //staticPath: '/flash/FileAPI.flash.swf/folder/'
    //flashUrl: 'yourcdn.com/js/FileAPI.flash.swf'
};
</script>

 <center> <h3> Solicitação carteira estudantil 2014 </h3></center>
 <hr>

<div ng-controller="SolicitacaoController">
	<div>
		<alert ng-repeat="mResult in messagesResult" type="{{mResult.type}}" close="closeAlert($index)">{{mResult.msg}}</alert> 
	</div>
	
    <form  name="formSolicitacao" novalidate="novalidate" role="form" class="form-horizontal css-form">
		<div class="container-fluid">	
		  <div class="row clearfix">
			<div class="col-md-12 column">
<!-- BOTOES ACOES $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->           
			  <div class="row clearfix" style="background-color: #F5F6CE; text-align: right">
				<div class="col-md-12 column">
					<input ng-click="salvarUser()" type="button" value="enviar" ng-disabled="formSolicitacao.$invalid" class="btn btn-md btn-primary estilo-botao-acao" >   
				</div>
			  </div> 
<!-- D PESSOAIS $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->           
			  <div class="row clearfix" style ="background-color: #EFF2FB">
				<div class="col-md-12 column">

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="nome">Nome:</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.nome" ng-maxlength=100 maxlength="100" ng-required="true" id="nome" type="text" class="form-control" placeHolder="Nome completo">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="dataNascimento">DT Nascimento</label></div>
						<div class="col-md-9 column">
						  <!-- ############ DATA NASCIMENTO ############## -->
						  <input ng-model="solicitacao.estudante.dataNascimento" name="dataNascimento" id="dataNascimento" 
						   type="text"  ui-date="dateOptions"  required class="form-control" placeHolder="Data padrão dd/MM/yyyy"> 
						</div>
					  </div>
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column"><label for="cpf">CPF</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.cpf" ng-cpf ng-minlength=11 ng-maxlength=11 maxlength="11"  ng-required="true" id="cpf" name="cpf" type="text" 
						  			 class="form-control" placeHolder="CPF - Somente Números">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="rg">RG</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.rg" ng-maxlength=15 ng-pattern="regexSomenteNumeros" maxlength="15" ng-required="true" id="rg" type="text" class="form-control" placeHolder="RG - Somente Números">
						</div>
					  </div>
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="email">E-mail</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.email" ng-maxlength=100 maxlength="100" id="email" type="email" required placeHolder="E-mail" class="form-control">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="">Sexo</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.sexo" value="M" id="sexoM" type="radio" required>Masculno
						  <input ng-model="solicitacao.estudante.sexo" value="F" id="sexoF" type="radio" >Feminino
						</div>
					  </div>
					</div>
				  </div>  

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="telefone">Telefone</label></div>
						<div class="col-md-9 column">
						  	<div class="row clearfix">
						  		<div class="col-md-3 column">
						  			<input ng-model="solicitacao.estudante.codigo_area_telefone" ng-pattern="regexSomenteNumeros" ng-minlength=2 ng-maxlength=2 maxlength="2" id="codigo_area_telefone" type="text" required placeHolder="DDD" class="form-control"> 
						  		</div>
						  		<div class="col-md-9 column">
						  			<input ng-model="solicitacao.estudante.telefone" ng-pattern="regexSomenteNumeros" ng-minlength=8 ng-maxlength=9 maxlength="9" id="telefone" type="text" required placeHolder="Somente números" class="form-control">      
						  		</div>
						  	</div>	
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="celular">celular</label></div>
						<div class="col-md-9 column">

							<div class="row clearfix">
						  		<div class="col-md-3 column">
									<input ng-model="solicitacao.estudante.codigo_area_celular" ng-pattern="regexSomenteNumeros" ng-minlength=2 ng-maxlength=2 maxlength="2" id="codigo_area_celular" type="text" required placeHolder="DDD" class="form-control"> 
						  		</div>
						  		<div class="col-md-9 column">
									<input ng-model="solicitacao.estudante.celular" ng-pattern="regexSomenteNumeros" ng-minlength=8 ng-maxlength=9 maxlength="9" id="celular" type="text" required placeHolder="Somente números" class="form-control">             
						  		</div>
						  	</div>	
						  
						</div>
					  </div>
					</div>
				  </div> 
				  
				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"> <label for="fileFoto">Foto</label></div>
						<div class="col-md-9 column">
						  <!-- xixixixixixixi   UPLOAD FOTO  xixixixxixix -->

						<div ng-controller="UploadFotoController">
							<input ng-model="solicitacao.estudante.nomeArquivoFoto" id="nomeArquivoFoto" type="hidden">	  <!--{{solicitacao.estudante.nomeArquivoFoto}} -->                                         
						                   
							  <input type="file" id="fileFoto" name="fileFoto" accept="image/x-png, image/gif, image/jpeg" ng-file-select="onFileSelect($files)" onclick="this.value=null" ng-disabled="!formSolicitacao.cpf.$valid" class="form-control">              														
							  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>


							<div class="container-fluid" ng-show="selectedFiles != null">           
								<div class="sel-file estilo-area-upload" ng-repeat="f in selectedFiles">
								  	
								  <div class="row clearfix">
								  		<div class="col-md-5 column">
								  			{{f.name}}
								  		</div>
								  		<div class="col-md-5 column">
								  			<progressbar animate="false" value="progress[$index]" type="success">
										  		<b>{{progress[$index]}}%</b>
											</progressbar>
								  		</div>
								  		<div class="col-md-2 column">
								  			<button ng-click="remove($index)" class="btn btn-sm btn-danger"> excluir </button>
								  		</div>
								  </div> 

								  <div ng-show="progress[$index] < 100 ">  	
									  <div class="row clearfix">
									  		<div class="col-md-3 column">
									  			<button class="btn btn-sm btn-primary" ng-click="start($index)" ng-disabled="progress[$index] > 0">
									  			enviar
												</button>
									  		</div>
									  		<div class="col-md-3 column">
									  			<button class="btn btn-sm btn-primary" ng-click="abort($index)" 
													ng-disabled="!hasUploader($index) || progress[$index] >= 100">
										  		abortar                               
												</button>
									  		</div>							  		
									  		<div class="col-md-6 column"></div>
									  </div>
								</div>    							  
								</div>
							</div>	                                                       
						  
						</div>

						  <!-- xixixixxixixxi FIM UPLOAD FOTO xxixixixixi -->
						</div>
					  </div>
					</div>
					<!--- /////////////////	UPLOAD DOCUMENTO	\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
					
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="">Documento</label></div>
						<div class="col-md-9 column">
						<!-- xixixixxixixxi UPLOAD DOCUMENTO xxixixixixi -->
						<div ng-controller="DocumentoUploadController">   
							<input ng-model="solicitacao.estudante.nomeArquivoDocumento" name="nomeArquivoDocumento" id="nomeArquivoDocumento" type="hidden">     

							<!-- >> {{solicitacao.estudante.nomeArquivoDocumento}} -->          

								  <input type="file" id="fileDocumento" name="fileDocumento" 
								  accept="{{tipoDocumentoAceito}}" ng-file-select="onFileSelect($files)" onclick="this.value=null" ng-disabled="!formSolicitacao.cpf.$valid" class="form-control">                
																					  
								  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>   


								<div class="container-fluid" ng-show="selectedFiles != null">           
									<div class="sel-file estilo-area-upload" ng-repeat="f in selectedFiles">									  	
										  <div class="row clearfix">
										  		<div class="col-md-5 column">
										  			{{f.name}}
										  		</div>
										  		<div class="col-md-5 column">
										  			<progressbar animate="false" value="progress[$index]" type="success">
												  		<b>{{progress[$index]}}%</b>
													</progressbar>
										  		</div>
										  		<div class="col-md-2 column">
										  			<button ng-click="remove($index)" class="btn btn-sm btn-danger"> excluir </button>
										  		</div>
										  </div> 

										  <div ng-show="progress[$index] < 100 ">  	
											  <div class="row clearfix">
											  		<div class="col-md-3 column">
											  			<button class="btn btn-sm btn-primary" ng-click="start($index)" ng-disabled="progress[$index] > 0">
											  			enviar
														</button>
											  		</div>
											  		<div class="col-md-3 column">
											  			<button class="btn btn-sm btn-primary" ng-click="abort($index)" 
															ng-disabled="!hasUploader($index) || progress[$index] >= 100">
												  		abortar                               
														</button>
											  		</div>							  		
											  		<div class="col-md-6 column"></div>
											  </div>
										</div> 
									</div>											
								</div>    								  

						  </div>
						  <!-- xixixixxixixxi FIM UPLOAD DOCUMENTO xxixixixixi -->
						</div>
					  </div>
					</div>
					
					<!-- FIM UPLOAD DOCUMENTO \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
				  </div>
				  			  
				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="">Nome Exibição</label></div>
						<div class="col-md-9 column">
							<input ng-model="solicitacao.estudante.nomeExibicao" ng-maxlength=25 maxlength="25" id="cursoExibicao" type="text" required placeHolder="Nome Exibicao(somente 25 caracteres)" class="form-control">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
						
					</div>
				  </div>
				  <!-- ENDERECO ############################################### -->

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="logradouro"><label for="cep">CEP</label></label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.cep" ng-pattern="regexSomenteNumeros" ng-minlength=8 ng-maxlength=8 maxlength="8" id="cep" type="text" required placeHolder="Somente Números" class="form-control estilo-cep">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
						
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="logradouro">Endereço</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.logradouro" id="logradouro" type="text" required placeHolder="Endereço" class="form-control">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="numeroEndereco">Número</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.numeroEndereco" id="numeroEndereco" type="text" required placeHolder="Num." class="form-control" class="form-control estilo-cep">
						</div>
					  </div>
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="complementoEndereco">Complemento</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.complementoEndereco" id="complementoEndereco" type="text" required placeHolder="Complemento End." class="form-control">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="bairro">Bairro</label></div>
						<div class="col-md-9 column">                      
						  <input ng-model="solicitacao.estudante.bairro" id="bairro" type="text" required placeHolder="Bairro" class="form-control">
						</div>
					  </div>
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="estado">Estado</label></div>
						<div class="col-md-9 column">
							<select ng-model="solicitacao.estudante.estado" ng-options="estado.descricao for estado in estadoList" id="estado" class="form-control">
							  <option value="">-- Selecione Estados --</option>
							</select>
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="cidade">Cidade</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.cidade" id="cidade" type="text" required placeHolder="Cidade" class="form-control">
						</div>
					  </div>
					</div>
				  </div>

				  <!--FIM ENDERECO ############################################ -->
				</div>
			  </div>
	<!-- FIM D PESSOAIS $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->          

	<!-- D ACADEMICOS $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->          
			  <div class="row clearfix" style="background-color: #FBEFEF">
				<div class="col-md-12 column">

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="instituicao">Instituição</label></div>
						<div class="col-md-9 column">
						  <input readonly id="instituicao" type="text" value="UNIFACS" placeHolder="UNIFACS" class="form-control">
						  <input type="hidden" ng-model="solicitacao.estudante.idInstituicao">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="campus">Campus</label></div>
						<div class="col-md-9 column">
						  <select ng-model="solicitacao.estudante.campus" ng-options="campus.descricao for campus in campusList" id="campus" class="form-control">
							<option value="">-- Selecione Campus --</option>
						  </select>
						</div>
					  </div>
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="matricula">Matricula</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.matricula" ng-minlength=8 ng-maxlength=10 maxlength="10" id="matricula" type="text" required placeHolder="Matricula" class="form-control">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
						
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="curso">Curso</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.curso" id="curso" type="text" required placeHolder="Curso" class="form-control">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
						
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="cursoExibicao">Curso Exibição</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.cursoExibicao" ng-maxlength=25 maxlength="25" id="cursoExibicao" type="text" required placeHolder="Curso Exibição(somente 25 caracteres)" class="form-control">
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
						
					</div>
				  </div>

				  <div class="row clearfix">
					<div class="col-md-6 column">
					  <div class="row clearfix">
						<div class="col-md-3 column" draggable="true"><label for="localEntrega">Local de Entrega</label></div>
						<div class="col-md-9 column">
						  <input ng-model="solicitacao.estudante.localEntrega" value="c" id="localEntrega" type="radio" checked disabled> Sede DCE(CPB)
						</div>
					  </div>
					</div>
					<div class="col-md-6 column">
						
					</div>
				  </div>

				</div>
			  </div>
	<!--FIM DADOS ACADEMICOS $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->  

	<!-- CONTRATO $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
			  <div class="row clearfix" style="background-color: #E0F8E6">
				<div class="col-md-12 column">
					<input ng-model="aceiteContratoTemp" id="aceiteContrato" type="checkbox" required > Concordo com termos 
					- 
					<a href="" ng-click="abrirContrato()">Clique aqui para ler o regulamento</a>								

				</div>
			  </div>          
	<!--FIM CONTRATO $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->         
			</div>
		 </div>
		</div>

	</form>		
</div>