
<link type="text/css" rel="stylesheet" href="common.css">

<style>

.sel-file img {
	float: left;
	width: 38px;
	height: 38px;
	padding-right: 10px;
}

</style>

<script type="text/javascript">
FileAPI = {
	debug: true,
	//forceLoad: true, html5: false //to debug flash in HTML5 browsers
	//wrapInsideDiv: true, //experimental for fixing css issues
	//only one of jsPath or jsUrl.
    //jsPath: '/js/FileAPI.min.js/folder/', 
    //jsUrl: 'yourcdn.com/js/FileAPI.min.js',

    //only one of staticPath or flashUrl.
    //staticPath: '/flash/FileAPI.flash.swf/folder/'
    //flashUrl: 'yourcdn.com/js/FileAPI.flash.swf'
};
</script>

<h4>::: UploadFotoController :::</h4>

<form name="formUpload">

	CPF: <input type="text" name="myModelNAME" ng-model="myModel" ng-required="true">


<p>XXXXXXXXXX	FORA DOs Controllers </p>


	<div ng-controller="UploadFotoController">
				
		<div class="upload-div" style="width: 500px; background-color: #FA787E;">					
				<input type="file" id="fileFoto" name="fileFoto" ng-file-select="onFileSelect($files)" onclick="this.value=null" ng-disabled="!formUpload.myModelNAME.$valid">				
							       									
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>		
				
				<div ng-show="selectedFiles != null">			
					<div class="sel-file" ng-repeat="f in selectedFiles">
						<table border="2">
							<tr>
								<td>{{f.name}}</td>							
								<td style="width: 40%">
									<progressbar animate="false" value="progress[$index]" type="success">
										<b>{{progress[$index]}}%</b>
									</progressbar>
								</td>
								<td><button ng-click="remove($index)">X</button></td>						
							</tr>
						</table>
																									
					<div ng-show="progress[$index] < 100 ">					
						<p>
							<button class="btn btn-sm btn-primary" ng-click="start($index)" ng-disabled="progress[$index] > 0">
								Start
							</button>
							-		
							<button class="btn btn-sm btn-primary" ng-click="abort($index)" 
							ng-disabled="!hasUploader($index) || progress[$index] >= 100">
								Abort								
							</button>
						</p>			
				   </div>												

					</div>
				</div>															
		</div>	
	</div>

	<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxXXXXXXXXXXXXXXXXXXXXXXX -->
	<br><br>

	<div ng-controller="DocumentoUploadController">		
				
		<div class="upload-div" style="width: 500px; background-color: #A9E2F3;">					
				<input type="file" id="fileDocumento" name="fileDocumento" ng-file-select="onFileSelect($files)" onclick="this.value=null" ng-disabled="!formUpload.myModelNAME.$valid">				
							       									
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>		
				
				<div ng-show="selectedFiles != null">			
					<div class="sel-file" ng-repeat="f in selectedFiles">
						<table border="2">
							<tr>
								<td>{{f.name}}</td>							
								<td style="width: 40%">
									<progressbar animate="false" value="progress[$index]" type="success">
										<b>{{progress[$index]}}%</b>
									</progressbar>
								</td>
								<td><button ng-click="remove($index)">X</button></td>						
							</tr>
						</table>
																									
					<div ng-show="progress[$index] < 100 ">					
						<p>
							<button class="btn btn-sm btn-primary" ng-click="start($index)" ng-disabled="progress[$index] > 0">
								Start
							</button>
							-		
							<button class="btn btn-sm btn-primary" ng-click="abort($index)" 
							ng-disabled="!hasUploader($index) || progress[$index] >= 100">
								Abort								
							</button>
						</p>			
				   </div>												

					</div>
				</div>															
		</div>	
	</div>

</form>	


